.main{
    height:200px;
}


.category-filter{
    padding-bottom: 2em;
}

.track-statistics {
    font-size: 16px;
}
.track-statistics td:nth-child(2n) { text-align: left }
.track-statistics .links {
    text-align: left;
}
.track-statistics .tab {
    text-transform: capitalize;
}
.track-statistics .links a {
    padding-right: .5em;
    color: inherit;
}

.track-statistics .links img {
    width: 16px;
    height: 16px;
}

.track-count-tooltip ul{
    text-align: left;
}