.main{
    height:200px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

nav#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    padding-left: 1em;
    left: 0;
    background-color: #f7f7f7;
}

nav#sidebar h4{
    margin-bottom: 1em;
    margin-top: 1em;

}

nav#sidebar ul{
    list-style: none;
    padding-left: 0;
}

.category-button button{
    width: 100%;
}

.category-filter{
    padding-bottom: 2em;
}

.categories {
    overflow-y: auto;
    max-height: 400px;
    display:inline-block;
    padding-left: 20px;
}

.tracks-table{
    padding-top: 1em;
}

.track-statistics table {
    font-size: 16px;
}
.track-statistics th { text-align: center;}
.track-statistics td:nth-child(2n) { text-align: left }
.track-statistics .links {
    text-align: left;
}
.track-statistics .tab {
    text-transform: capitalize;
}
.track-statistics .links a {
    padding-right: .5em;
    color: inherit;
}

.track-statistics .links img {
    width: 16px;
    height: 16px;
}

.track-count-tooltip ul{
    text-align: left;
}

.track-count-controls{
    padding-bottom: 1em;
}

.dj-counts-tooltip ul{
    max-height: 400px;
    min-height: 0;
    overflow-y: auto;
}